SOLANA_PRIVATE_KEY=""
SOLANA_RPC_URL="https://api.devnet.solana.com"
GEMINI_API_KEY=""
APP_URL="http://localhost:3000"
DEMO_ADMIN_TOKEN=""
SOLANA_MEMO_PROGRAM_ID=MemoSq4gqABAXKb96qnH8TysNcWxMyWCqXgDLGmfcHr
SOLANA_NETWORK=devnet
GROQ_API_KEY=""